<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom full">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
         <div class="text-center">
            <img height="40" src="./assets/images/logo_preto.png">
          </div>
         <li class="nav-item nav-item-active ">
            <a class="nav-link nav-link-custom" href="/bookies">
               <mat-icon>home</mat-icon>
               Site de Análise
            </a>
         </li>
         <li class="nav-item  ">
            <a class="nav-link nav-link-custom" href="/renewal/">
               <mat-icon>payment</mat-icon>
               Renovação
            </a>
         </li>
         <li class="nav-item  ">
            <a class="nav-link nav-link-custom" href="https://t.me/betmilhaoesportes">
               <mat-icon>send</mat-icon>
               Telegram
            </a>
         </li>
         <li class="nav-item  ">
            <a class="nav-link nav-link-custom" href="/logout">
               <mat-icon>exit_to_app</mat-icon>
               Logout
            </a>
         </li>
      </ul>
   </div>
 </nav>
<div class="app-main__outer limiter">
   <div class="app-main__inner">
      <div class="container-fluid">
         <div class="row justify-content-center">
            <div class="col-lg-12 col-sm-12 col-xs-12">
               <div class="card text-center mb-4" style="background-color: transparent;">
                  <div class="card-header" style="color: white">
                     OPÇÕES DE PLANO:
                  </div>
                  <div class="card-body">
                     <div class="alert alert-danger">
                        Para adquirir um novo período de acesso, escolha um dos planos abaixo e efetue o pagamento. <br>
                        Aceitamos pagamentos com Cartão de Crédito e Pix.
                     </div>
                     <div class="row justify-content-center">
                        <div class="containercards">
                          <div class="card cardPromo">
                              <div class="card-header">PROMOÇÃO</div>
                              <div class="card-body">
                                 <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">BETANO | ADESÃO MENSAL</h5>
                                    <h5 >Vantagens:</h5>
                                    <h6>Suporte 24 horas</h6>
                                    <h6>Curso de como operar</h6>
                                    <br/>
                                    <h6 class="card-price text-center">R$ 29,99</h6>
                                    <div class="adq-1"><button type="submit" (click)="callMeli(1)" class="mercadopago-button" formmethod="post">Adquirir</button></div>
                                    <hr>
                                 </div>
                              </div>
                          </div>

                          <div class="card cardPromo">
                            <div class="card-header">SUPER PROMOÇÃO</div>
                            <div class="card-body">
                              <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">BETANO | ADESÃO TRIMESTRAL</h5>
                                <h5>Vantagens:</h5>
                                <h6>Suporte 24 horas</h6>
                                <h6>Curso de como operar</h6>
                                <h6>Mentoria Individual</h6>
                                <br/>
                                <h6 class="card-price text-center">R$ 84,99</h6>
                                <div class="adq-1"><button type="submit" (click)="callMeli(3)" class="mercadopago-button"
                                    formmethod="post">Adquirir</button></div>
                                <hr>
                              </div>
                            </div>
                          </div>

                          <div class="card cardPromo">
                            <div class="card-header">MEGA PROMOÇÃO</div>
                            <div class="card-body">
                              <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">BETANO | ADESÃO SEMESTRAL</h5>
                                <h5>Vantagens:</h5>
                                <h6>Suporte 24 horas</h6>
                                <h6>Curso de como operar</h6>
                                <h6>Mentoria Individual</h6>
                                <h6>Grupo VIP (Sinais 24hs)</h6>
                                <br />
                                <h6 class="card-price text-center">R$ 175,99</h6>
                                <div class="adq-1"><button type="submit" (click)="callMeli(6)" class="mercadopago-button"
                                    formmethod="post">Adquirir</button></div>
                                <hr>
                              </div>
                            </div>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
   console.log("testeee")
</script>
