<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom mb-4">
  
  <!--<a class="plain-a" href="nextgames/betano/copa"><img class="uhover" [ngClass]="{'uselected':season == 'copa'}" src="../../assets/icons/world.svg" width="48"></a>
  <a class="plain-a" href="horario/betano/champions" ><img class="uhover" [ngClass]="{'uselected':season == 'champions'}" src="../../assets/icons/champions.svg" width="48"></a>
  <a class="plain-a" href="nextgames/betano/premier" ><img class="uhover" [ngClass]="{'uselected':season == 'premier'}" src="../../assets/icons/premier.svg" width="48"></a>
  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav">
        <!--<li class="nav-item">
           <a class="nav-link nav-link-custom" href="home?bookie=betano&season=bet365">
              <mat-icon >home</mat-icon>
              Início
           </a>
        </li>-->
        <div class="text-center">
         <img height="40" src="./assets/images/logo_preto.png">
       </div>
        <li class="nav-item dropdown">
         <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" >
            <mat-icon>sports_soccer</mat-icon>
            Ligas
         </a>
         <div class="dropdown-menu dropdown-menu-custom">
            <a class="dropdown-item dropdown-item-custom" href="nextgames/betano/tacagloriaeterna">
               Taça Glória eterna
            </a>
            <a class="dropdown-item dropdown-item-custom" href="nextgames/betano/copa">
               Copa
            </a>
            <a class="dropdown-item dropdown-item-custom" href="nextgames/betano/america">
               Ligas America
            </a>
            <a class="dropdown-item dropdown-item-custom" href="nextgames/betano/estrelas">
               Copa das Estrelas
            </a>
            <a class="dropdown-item dropdown-item-custom" href="nextgames/betano/italiano">
               Campeonato Italiano
            </a>
            <a class="dropdown-item dropdown-item-custom" href="nextgames/betano/premier">
               Premier
            </a>
            <a class="dropdown-item dropdown-item-custom" href="nextgames/betano/champions">
               Campeões
            </a>
         </div>
      </li>
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="overview/betano/{{season}}">
              <mat-icon>fast_rewind</mat-icon>
              Últ. Jogos
           </a>
        </li>
        <li class="nav-item ">
           <a class="nav-link nav-link-custom nav-item-active" href="nextgames/betano/{{season}}">
              <mat-icon>fast_forward</mat-icon>
              Próx. Jogos
           </a>
        </li>
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="horario/betano/{{season}}">
              <mat-icon>access_time</mat-icon>
              Horários
           </a>
        </li>
        <!--<li class="nav-item dropdown ">
           <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" href="https://www.mentorwesleyandrade.com.br/home/world/bet365#">
           <i class="nav-link-icon fa fa-robot "></i> Sinais
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/1">Over 1.5</a>
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/3">Over 2.5</a>
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/2">Vencedor do Jogo</a>
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/4">Ambas Marcam</a>
           </div>
           </li>-->
        <li class="nav-item dropdown">
           <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" >
              <mat-icon>perm_identity</mat-icon>
              Conta
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
              <a class="dropdown-item dropdown-item-custom" href="https://t.me/betanalyticsbr">
                 <mat-icon>send</mat-icon>
                 Telegram
              </a>
              <a class="dropdown-item dropdown-item-custom" href="renewal">
                 <mat-icon> money</mat-icon>
                 Renovação
              </a>
              <a class="dropdown-item dropdown-item-custom">
                 <mat-icon> attach_money</mat-icon>
                 Venc. {{dataVencimento | date: 'dd/MM/yyyy'}}
              </a>
              <a class="dropdown-item dropdown-item-custom" href="logout">
                 <mat-icon>exit_to_app</mat-icon>
                 Logout
              </a>
           </div>
        </li>
     </ul>
  </div>
</nav>
<div class="modal fade" id="paymentReminder" tabindex="-1">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title">O seu acesso expira em 12 dias e 21h. <br> Para renovar, acesse: <a href="https://www.mentorwesleyandrade.com.br/renewal/world/">Renovação</a></h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
           </button>
        </div>
     </div>
  </div>
</div>
<style>
  #float-fa-parent {
  color:#3f6ad8;
  opacity:0.8;
  }
  #float-fa-parent:hover {
  opacity:1;
  }
  #float-fa-parent:hover #float-fa {
  opacity:1;
  }
  #float-fa {
  position: absolute;
  left: 36px;
  width: 25px;
  font-size: 0.9rem;
  color: #3f6ad8;
  top: 36px;
  }
  .sentinela {
  color:rgb(0, 247, 0) !important;
  font-weight:600 !important;
  }
</style>
<button onclick="window.location.reload(false);" class="util-button" id="reloadButton" title="Reload!">
  <mat-icon>sync</mat-icon>
</button>
<button onclick="scrollTsso()" data-dir="0" class="util-button" id="backToTop" title="Scroll!">
  <mat-icon>arrow_upward</mat-icon>
</button>
<div class="app-main__outer">
   <div class="app-main__inner">
      <div class="container-fluid">
         <div class="nav nav-pills nav-justified" id="fixture-tabs" role="tablist">
            <a class="nav-link nav-item tendency-tab active" role="tab">
               Liga: {{league}}
            </a>
         </div>
         <div class="nav nav-pills nav-justified" id="fixture-tabs" role="tablist">
            <a class="nav-link nav-item tendency-tab  active" (click)="getDashboard(event)" *ngFor="let event of events" role="tab">
               {{event.hour}} 
               <br>{{event.homeTeam}} x {{event.awayTeam}}
            </a>
         </div>
         <div class="tab-content" id="fixture-content">
            <div class="tab-pane fade  show active" id="g-0" role="tabpanel">
               <div class="card mb-4">
                  <div class="card-header">
                     {{event['hour']}} -  <img src="../../assets/icons/{{event['homeTeam']}}.svg" width="32" height="32"> 
                     <div class="ml-2 mr-2">{{event['homeTeam']}} x {{event['awayTeam']}}</div>
                     <img src="../../assets/icons/{{event['awayTeam']}}.svg" width="32" height="32">
                     <div class="col-1 my-auto text-center">
                        <a href="odds/{{season}}/{{event['id']}}">
                           <button class="btn btn-info">Consultar Odds</button>
                        </a>
                     </div>
                  </div>
                  
                  <div class="card-body">
                     <div class="row">
                        <div class="col-lg-6 col-sm-12">
                           <div class="card">
                              <div class="card-header">{{event['homeTeam']}} em Casa</div>
                              <div class="card-body">
                                 <table class="table table-bordered table-responsive text-center">
                                    <tbody>
                                       <tr>
                                          <th>Jogos</th>
                                          <th>{{event['homeTeam']}} Venceu</th>
                                          <th>Empate</th>
                                          <th>{{event['awayTeam']}} Venceu</th>
                                          <th>Gols (Média) {{event['homeTeam']}}</th>
                                          <th>Gols (Média) {{event['awayTeam']}}</th>
                                       </tr>
                                       <tr *ngIf="event['dashboard']">
                                          <td class="">{{event['dashboard']['homeTeamJogos']}}</td>
                                          <td [ngClass]="{'bg-danger':event['dashboard']['homeTeamHomeWinPercentage'] < 30,'bg-warning':event['dashboard']['homeTeamHomeWinPercentage'] > 30 && event['dashboard']['homeTeamHomeWinPercentage'] < 70, 'bg-success':event['dashboard']['homeTeamHomeWinPercentage'] > 60}">{{event['dashboard']['homeTeamHomeWin']}} ({{event['dashboard']['homeTeamHomeWinPercentage']}}%)</td>
                                          <td [ngClass]="{'bg-danger':event['dashboard']['homeTeamEmpatesPercentage'] < 30,'bg-warning':event['dashboard']['homeTeamEmpatesPercentage'] > 30 && event['dashboard']['homeTeamEmpatesPercentage'] < 70, 'bg-success':event['dashboard']['homeTeamEmpatesPercentage'] > 60}">{{event['dashboard']['homeTeamEmpates']}} ({{event['dashboard']['homeTeamEmpatesPercentage']}}%)</td>
                                          <td [ngClass]="{'bg-danger':event['dashboard']['homeTeamAwayWinPercentage'] < 30,'bg-warning':event['dashboard']['homeTeamAwayWinPercentage'] > 30 && event['dashboard']['homeTeamAwayWinPercentage'] < 70, 'bg-success':event['dashboard']['homeTeamAwayWinPercentage'] > 60}">{{event['dashboard']['homeTeamAwayWin']}} ({{event['dashboard']['homeTeamAwayWinPercentage']}}%)</td>
                                          <td class="">{{event['dashboard']['homeTeamHomeGols']}} ({{event['dashboard']['homeTeamHomeGolsMedia']}})</td>
                                          <td class="">{{event['dashboard']['homeTeamAwayGols']}} ({{event['dashboard']['homeTeamAwayGolsMedia']}})</td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <table class="table table-bordered table-responsive text-center">
                                    <tbody>
                                       <tr>
                                          <th>Over 1.5</th>
                                          <th>Over 2.5</th>
                                          <th>Over 3.5</th>
                                          <th>Over 4.5 (5+)</th>
                                          <th>Ambas</th>
                                       </tr>
                                       <tr *ngIf="event['dashboard']">
                                          <td [ngClass]="{'bg-danger':event.dashboard.homeTeamOver1_5Percentage < 30,'bg-warning':event.dashboard.homeTeamOver1_5Percentage > 30 && event.dashboard.homeTeamOver1_5Percentage < 70, 'bg-success':event.dashboard.homeTeamOver1_5Percentage > 60}">{{event.dashboard.homeTeamOver1_5}} ({{event.dashboard.homeTeamOver1_5Percentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.homeTeamOver2_5Percentage < 30,'bg-warning':event.dashboard.homeTeamOver2_5Percentage > 30 && event.dashboard.homeTeamOver2_5Percentage < 70, 'bg-success':event.dashboard.homeTeamOver2_5Percentage > 60}">{{event.dashboard.homeTeamOver2_5}} ({{event.dashboard.homeTeamOver2_5Percentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.homeTeamOver3_5Percentage < 30,'bg-warning':event.dashboard.homeTeamOver3_5Percentage > 30 && event.dashboard.homeTeamOver3_5Percentage < 70, 'bg-success':event.dashboard.homeTeamOver3_5Percentage > 60}">{{event.dashboard.homeTeamOver3_5}} ({{event.dashboard.homeTeamOver3_5Percentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.homeTeamOver4_5Percentage < 30,'bg-warning':event.dashboard.homeTeamOver4_5Percentage > 30 && event.dashboard.homeTeamOver4_5Percentage < 70, 'bg-success':event.dashboard.homeTeamOver4_5Percentage > 60}">{{event.dashboard.homeTeamOver4_5}} ({{event.dashboard.homeTeamOver4_5Percentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.homeTeamAmbasPercentage < 30,'bg-warning':event.dashboard.homeTeamAmbasPercentage > 30 && event.dashboard.homeTeamAmbasPercentage < 70, 'bg-success':event.dashboard.homeTeamAmbasPercentage > 60}">{{event.dashboard.homeTeamAmbas}} ({{event.dashboard.homeTeamAmbasPercentage}}%)</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                           <div class="card">
                              <div class="card-header">Geral</div>
                              <div class="card-body">
                                 <table class="table table-bordered table-responsive text-center">
                                    <tbody>
                                       <tr>
                                          <th>Jogos</th>
                                          <th>{{event['homeTeam']}} Venceu</th>
                                          <th>Empate</th>
                                          <th>{{event['awayTeam']}} Venceu</th>
                                          <th>Gols (Média) {{event['homeTeam']}}</th>
                                          <th>Gols (Média) {{event['awayTeam']}}</th>
                                       </tr>
                                       <tr *ngIf="event['dashboard']">
                                          <td class="">{{event['dashboard']['jogos']}}</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.homeWinPercentage < 30,'bg-warning':event.dashboard.homeWinPercentage > 30 && event.dashboard.homeWinPercentage < 70, 'bg-success':event.dashboard.homeWinPercentage > 60}">{{event.dashboard.homeWin}} ({{event.dashboard.homeWinPercentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.empatesPercentage < 30,'bg-warning':event.dashboard.empatesPercentage > 30 && event.dashboard.empatesPercentage < 70, 'bg-success':event.dashboard.empatesPercentage > 60}">{{event.dashboard.empates}} ({{event.dashboard.empatesPercentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.awaywinPercentage < 30,'bg-warning':event.dashboard.awaywinPercentage > 30 && event.dashboard.awaywinPercentage < 70, 'bg-success':event.dashboard.awaywinPercentage > 60}">{{event.dashboard.awaywin}} ({{event.dashboard.awaywinPercentage}}%)</td>
                                          <td class="">{{event['dashboard']['homeTeamHomeGols']}} ({{event['dashboard']['homeTeamHomeGolsMedia']}})</td>
                                          <td class="">{{event['dashboard']['homeTeamAwayGols']}} ({{event['dashboard']['homeTeamAwayGolsMedia']}})</td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <table class="table table-bordered table-responsive text-center">
                                    <tbody>
                                       <tr *ngIf="event['dashboard']">
                                          <th>Over 1.5</th>
                                          <th>Over 2.5</th>
                                          <th>Over 3.5</th>
                                          <th>Over 4.5 (5+)</th>
                                          <th>Ambas</th>
                                       </tr>
                                       
                                       <tr *ngIf="event['dashboard']">
                                          <td [ngClass]="{'bg-danger':event.dashboard.over1_5Percentage < 30,'bg-warning':event.dashboard.over1_5Percentage > 30 && event.dashboard.over1_5Percentage < 70, 'bg-success':event.dashboard.over1_5Percentage > 60}">{{event.dashboard.over1_5}} ({{event.dashboard.over1_5Percentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.over2_5Percentage < 30,'bg-warning':event.dashboard.over2_5Percentage > 30 && event.dashboard.over2_5Percentage < 70, 'bg-success':event.dashboard.over2_5Percentage > 60}">{{event.dashboard.over2_5}} ({{event.dashboard.over2_5Percentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.over3_5Percentage < 30,'bg-warning':event.dashboard.over3_5Percentage > 30 && event.dashboard.over3_5Percentage < 70, 'bg-success':event.dashboard.over3_5Percentage > 60}">{{event.dashboard.over3_5}} ({{event.dashboard.over3_5Percentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.over4_5Percentage < 30,'bg-warning':event.dashboard.over4_5Percentage > 30 && event.dashboard.over4_5Percentage < 70, 'bg-success':event.dashboard.over4_5Percentage > 60}">{{event.dashboard.over4_5}} ({{event.dashboard.over4_5Percentage}}%)</td>
                                          <td [ngClass]="{'bg-danger':event.dashboard.ambasPercentage < 30,'bg-warning':event.dashboard.ambasPercentage > 30 && event.dashboard.ambasPercentage < 70, 'bg-success':event.dashboard.ambasPercentage > 60}">{{event.dashboard.ambas}} ({{event.dashboard.ambasPercentage}}%)</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card mb-4">
                  <div class="card-header">Últimos Jogos da {{event['homeTeam']}}</div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-lg-6 col-sm-12 mb-sm-2">
                           <div class="card">
                              <div class="card-header">{{event['homeTeam']}} - GERAL</div>
                              <div class="card-body table-responsive body-table">
                                 <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <tbody class="data-table">
                                       <tr *ngFor="let item of event['homeTeamEvents']['events']">
                                          <td>{{item.data}}</td>
                                          <td>{{item.homeTeam}}</td>
                                          <td><b>{{item.correctScore}}</b></td>
                                          <td>{{item.awayTeam}}</td>
                                          <td>
                                             <span *ngIf="item.winBet == event.homeTeam" class="badge badge-success">V</span>
                                             <span *ngIf="item.winBet != event.homeTeam && item.winBet != 'Empates'" class="badge badge-danger">D</span>
                                             <span *ngIf="item.winBet == 'Empates'" class="badge badge-warning">E</span>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-sm-2">
                           <div class="card">
                              <div class="card-header">{{event['homeTeam']}} EM CASA</div>
                              <div class="card-body table-responsive body-table">
                                 <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <tbody class="data-table">
                                       <tr *ngFor="let item of event['homeTeamEvents']['homeEvents']">
                                          <td>{{item.data}}</td>
                                          <td>{{item.homeTeam}}</td>
                                          <td><b>{{item.correctScore}}</b></td>
                                          <td>{{item.awayTeam}}</td>
                                          <td>
                                             <span *ngIf="item.winBet == event.homeTeam" class="badge badge-success">V</span>
                                             <span *ngIf="item.winBet != event.homeTeam && item.winBet != 'Empates'" class="badge badge-danger">D</span>
                                             <span *ngIf="item.winBet == 'Empates'" class="badge badge-warning">E</span>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card mb-4">
                  <div class="card-header">Últimos Jogos da {{event['awayTeam']}}</div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-lg-6 col-sm-12 mb-sm-2">
                           <div class="card">
                              <div class="card-header">{{event['awayTeam']}} - GERAL</div>
                              <div class="card-body table-responsive body-table">
                                 <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <tbody class="data-table">
                                       <tr *ngFor="let item of event['awayTeamEvents']['events']">
                                          <td>{{item.data}}</td>
                                          <td>{{item.homeTeam}}</td>
                                          <td><b>{{item.correctScore}}</b></td>
                                          <td>{{item.awayTeam}}</td>
                                          <td>
                                             <span *ngIf="item.winBet == event.awayTeam" class="badge badge-success">V</span>
                                             <span *ngIf="item.winBet != event.awayTeam && item.winBet != 'Empates'" class="badge badge-danger">D</span>
                                             <span *ngIf="item.winBet == 'Empates'" class="badge badge-warning">E</span>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-sm-2">
                           <div class="card">
                              <div class="card-header">{{event['awayTeam']}} EM CASA</div>
                              <div class="card-body table-responsive body-table">
                                 <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <tbody class="data-table">
                                       <tr *ngFor="let item of event['awayTeamEvents']['homeEvents']">
                                          <td>{{item.data}}</td>
                                          <td>{{item.homeTeam}}</td>
                                          <td><b>{{item.correctScore}}</b></td>
                                          <td>{{item.awayTeam}}</td>
                                          <td>
                                             <span *ngIf="item.winBet == event.homeTeam" class="badge badge-success">V</span>
                                             <span *ngIf="item.winBet != event.homeTeam && item.winBet != 'Empates'" class="badge badge-danger">D</span>
                                             <span *ngIf="item.winBet == 'Empates'" class="badge badge-warning">E</span>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card mb-4">
                  <div class="card-header">Confrontos Diretos</div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-lg-6 col-sm-12 mb-sm-2">
                           <div class="card">
                              <div class="card-header">GERAL</div>
                              <div class="card-body table-responsive body-table">
                                 <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <tbody>
                                       <tr *ngFor="let item of event['confrontoDireto']['events']">
                                          <td>{{item.data}}</td>
                                          <td>{{item.homeTeam}}</td>
                                          <td><b>{{item.correctScore}}</b></td>
                                          <td>{{item.awayTeam}}</td>
                                          <td>
                                             <span *ngIf="item.winBet == event.homeTeam" class="badge badge-success">V</span>
                                             <span *ngIf="item.winBet == event.awayTeam" class="badge badge-danger">D</span>
                                             <span *ngIf="item.winBet == 'Empates'" class="badge badge-warning">E</span>
                                          </td>
                                       </tr> 
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-sm-2">
                           <div class="card">
                              <div class="card-header">{{event['homeTeam']}} EM CASA</div>
                              <div class="card-body table-responsive body-table">
                                 <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <tbody>
                                       <tr *ngFor="let item of event['confrontoDireto']['homeEvents']">
                                          <td>{{item.data}}</td>
                                          <td>{{item.homeTeam}}</td>
                                          <td><b>{{item.correctScore}}</b></td>
                                          <td>{{item.awayTeam}}</td>
                                          <td>
                                             <span *ngIf="item.winBet == event.homeTeam" class="badge badge-success">V</span>
                                             <span *ngIf="item.winBet == event.awayTeam" class="badge badge-danger">D</span>
                                             <span *ngIf="item.winBet == 'Empates'" class="badge badge-warning">E</span>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane fade " id="g-1" role="tabpanel"></div>
            <div class="tab-pane fade " id="g-2" role="tabpanel"></div>
            <div class="tab-pane fade " id="g-3" role="tabpanel"></div>
            <div class="tab-pane fade " id="g-4" role="tabpanel"></div>
            <div class="tab-pane fade " id="g-5" role="tabpanel"></div>
         </div>
      </div>
   </div>
</div>