<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom mb-4">
  
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav">
      <div class="text-center">
         <img height="40" src="./assets/images/logo_preto.png">
       </div>
       <li class="nav-item ">
          <a class="nav-link nav-link-custom" href="overview/betano/{{season}}">
             <mat-icon>fast_rewind</mat-icon>
             Últ. Jogos
          </a>
       </li>
       <li class="nav-item ">
          <a class="nav-link nav-link-custom nav-item-active" href="nextgames/betano/{{season}}">
             <mat-icon>fast_forward</mat-icon>
             Próx. Jogos
          </a>
       </li>
       <li class="nav-item ">
          <a class="nav-link nav-link-custom" href="horario/betano/{{season}}">
             <mat-icon>access_time</mat-icon>
             Horários
          </a>
       </li>
       <li class="nav-item dropdown">
          <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" >
             <mat-icon>perm_identity</mat-icon>
             Conta
          </a>
          <div class="dropdown-menu dropdown-menu-custom">
             <a class="dropdown-item dropdown-item-custom" href="https://t.me/betanalyticsbr">
                <mat-icon>send</mat-icon>
                Telegram
             </a>
             <a class="dropdown-item dropdown-item-custom" href="renewal">
                <mat-icon> money</mat-icon>
                Renovação
             </a>
             <a class="dropdown-item dropdown-item-custom">
                <mat-icon> attach_money</mat-icon>
                Venc. {{dataVencimento | date: 'dd/MM/yyyy'}}
             </a>
             <a class="dropdown-item dropdown-item-custom" href="logout">
                <mat-icon>exit_to_app</mat-icon>
                Logout
             </a>
          </div>
       </li>
    </ul>
 </div>
 </nav>
 <div class="modal fade" id="paymentReminder" tabindex="-1">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">O seu acesso expira em 12 dias e 21h. <br> Para renovar, acesse: <a href="https://www.mentorwesleyandrade.com.br/renewal/world/">Renovação</a></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
         </div>
      </div>
   </div>
 </div>
 <style>
   #float-fa-parent {
   color:#3f6ad8;
   opacity:0.8;
   }
   #float-fa-parent:hover {
   opacity:1;
   }
   #float-fa-parent:hover #float-fa {
   opacity:1;
   }
   #float-fa {
   position: absolute;
   left: 36px;
   width: 25px;
   font-size: 0.9rem;
   color: #3f6ad8;
   top: 36px;
   }
   .sentinela {
   color:rgb(0, 247, 0) !important;
   font-weight:600 !important;
   }
 </style>
 <div class="app-main__outer">
   <div class="app-main__inner">
      <div class="container-fluid">
         <div class="row">
            <div class="col-12">
               <div class="card">
                <div class="card-header">
                   {{event['hour']}} -  <img src="../../assets/icons/{{event['homeTeam']}}.svg" width="32" height="32"> 
                   <div class="ml-2 mr-2">{{event['homeTeam']}} x {{event['awayTeam']}}</div>
                   <img src="../../assets/icons/{{event['awayTeam']}}.svg" width="32" height="32">
                </div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-md-12 col-sm-12" id="left-odds" >
                           <table class="table table-bordered table-striped table-hover text-center" *ngFor="let market of event['markets']">
                              <tbody>
                                 <tr>
                                    <th colspan="20">{{market['name']}}</th>
                                 </tr>
                                 <tr>
                                    <td *ngFor="let selection of market['selections']">{{selection['fullName']}}<br>{{selection['price']}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>