.card{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 750px;  
}


:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #062542;
}

.badge-secondary{
    color: #000;
    background-color: #D5FF33;
}

.btn-info{
    color: #fff;
    background-color: #062542;
    border-color: #062542;
}