<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom mb-4">
  <a class="plain-a" href="home?bookie=betano&season=world">
     <mat-icon class="nav-link-icon">home</mat-icon>
  </a>
  <a class="plain-a" href="home?bookie=bet365&season=euro"><img class="uhover " src="../../assets/icons/euro.svg" width="48"></a>
  <a class="plain-a" href="home?bookie=bet365&season=world"><img class="uhover uselected" src="../../assets/icons/copa.svg" width="48"></a>
  <a class="plain-a" href="home?bookie=bet365&season=premier"><img class="uhover " src="../../assets/icons/premier.svg" width="48"></a>
  <a class="plain-a" href="home?bookie=bet365&season=super"><img class="uhover " src="../../assets/icons/super.svg" width="48"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav">
        <li class="nav-item">
           <a class="nav-link nav-link-custom" href="home?bookie=betano&season=bet365">
              <mat-icon >home</mat-icon>
              Início
           </a>
        </li>
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="overview?bookie=bet365&season=world">
              <mat-icon>fast_rewind</mat-icon>
              Últ. Jogos
           </a>
        </li>
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="nextgames?bookie=bet365&season=world">
              <mat-icon>fast_forward</mat-icon>
              Próx. Jogos
           </a>
        </li>
        <li class="nav-item dropdown ">
           <a class="nav-link nav-link-custom dropdown-toggle nav-item-active" id="navbarDropdown" data-toggle="dropdown">
              <mat-icon>calendar_today</mat-icon>
              Hoje
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
              <a class="dropdown-item dropdown-item-custom" href="today?bookie=bet365&season=world">Jogos</a>
              <a class="dropdown-item dropdown-item-custom" href="goalscorers?bookie=bet365&season=world">Artilheiros</a>
              <a class="dropdown-item dropdown-item-custom" href="calculator?bookie=bet365&season=world">Calculadora</a>
              <a class="dropdown-item dropdown-item-custom" href="rankings?bookie=bet365&season=world">Rankings</a>
           </div>
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
              <mat-icon>history</mat-icon>
              Hist.
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
              <a class="dropdown-item dropdown-item-custom" href="history?bookie=bet365&season=world">Máximas</a>
              <a class="dropdown-item dropdown-item-custom" href="odds?bookie=bet365&season=world">Odds</a>
           </div>
        </li>
        <!--<li class="nav-item ">
           <a class="nav-link nav-link-custom sentinela" href="sentinela/world/bet365/"> <i class="nav-link-icon fa fa-robot"></i>Sentinela</a>
           </li>-->
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="hourly?bookie=bet365&season=world">
              <mat-icon>access_time</mat-icon>
              Horários
           </a>
        </li>
        <!--<li class="nav-item dropdown ">
           <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" href="https://www.mentorwesleyandrade.com.br/home/world/bet365#">
           <i class="nav-link-icon fa fa-robot "></i> Sinais
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/1">Over 1.5</a>
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/3">Over 2.5</a>
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/2">Vencedor do Jogo</a>
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/4">Ambas Marcam</a>
           </div>
           </li>-->
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="sim?bookie=bet365&season=world">
              <mat-icon>gps_fixed</mat-icon>
              Simulador
           </a>
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" >
              <mat-icon>perm_identity</mat-icon>
              Conta
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
              <a class="dropdown-item dropdown-item-custom" href="telegram/world/">
                 <mat-icon>send</mat-icon>
                 Telegram
              </a>
              <a class="dropdown-item dropdown-item-custom" href="renewal/world/">
                 <mat-icon> money</mat-icon>
                 Renovação
              </a>
              <a class="dropdown-item dropdown-item-custom" href="change/world/">
                 <mat-icon> vpn_key</mat-icon>
                 Trocar Senha
              </a>
              <a class="dropdown-item dropdown-item-custom">
                 <mat-icon> attach_money</mat-icon>
                 Venc. 25/05/2022
              </a>
              <a class="dropdown-item dropdown-item-custom" href="logout">
                 <mat-icon>exit_to_app</mat-icon>
                 Logout
              </a>
           </div>
        </li>
     </ul>
  </div>
</nav>
<div class="modal fade" id="paymentReminder" tabindex="-1">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title">O seu acesso expira em 12 dias e 21h. <br> Para renovar, acesse: <a href="https://www.mentorwesleyandrade.com.br/renewal/world/">Renovação</a></h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
           </button>
        </div>
     </div>
  </div>
</div>
<style>
  #float-fa-parent {
  color:#3f6ad8;
  opacity:0.8;
  }
  #float-fa-parent:hover {
  opacity:1;
  }
  #float-fa-parent:hover #float-fa {
  opacity:1;
  }
  #float-fa {
  position: absolute;
  left: 36px;
  width: 25px;
  font-size: 0.9rem;
  color: #3f6ad8;
  top: 36px;
  }
  .sentinela {
  color:rgb(0, 247, 0) !important;
  font-weight:600 !important;
  }
</style>
<button onclick="window.location.reload(false);" class="util-button" id="reloadButton" title="Reload!">
  <mat-icon>sync</mat-icon>
</button>
<button onclick="scrollTsso()" data-dir="0" class="util-button" id="backToTop" title="Scroll!">
  <mat-icon>arrow_upward</mat-icon>
</button>
<div class="app-main__outer">
   <div class="app-main__inner">
      <div class="container-fluid">
         <div class="row mb-4">
            <div class="col-6">
               <div class="card">
                  <div class="card-header">Artilheiros por Time</div>
                  <div class="card-body table-responsive">
                     <table class="table table-bordered table-striped table-hover">
                        <tbody>
                           <tr>
                              <th>Marcador</th>
                              <th>Gols</th>
                           </tr>
                        </tbody>
                        <tbody id="gs-teams">
                           <tr>
                              <td>Qualquer Outro (Casa)</td>
                              <td>16</td>
                           </tr>
                           <tr>
                              <td>Portugal</td>
                              <td>26</td>
                           </tr>
                           <tr>
                              <td>Bélgica</td>
                              <td>25</td>
                           </tr>
                           <tr>
                              <td>Inglaterra</td>
                              <td>28</td>
                           </tr>
                           <tr>
                              <td>Uruguai</td>
                              <td>24</td>
                           </tr>
                           <tr>
                              <td>Sem Marcador</td>
                              <td>31</td>
                           </tr>
                           <tr>
                              <td>Croácia</td>
                              <td>26</td>
                           </tr>
                           <tr>
                              <td>Argentina</td>
                              <td>27</td>
                           </tr>
                           <tr>
                              <td>Espanha</td>
                              <td>25</td>
                           </tr>
                           <tr>
                              <td>Suíça</td>
                              <td>29</td>
                           </tr>
                           <tr>
                              <td>Dinamarca</td>
                              <td>17</td>
                           </tr>
                           <tr>
                              <td>México</td>
                              <td>15</td>
                           </tr>
                           <tr>
                              <td>Itália</td>
                              <td>28</td>
                           </tr>
                           <tr>
                              <td>Colômbia</td>
                              <td>18</td>
                           </tr>
                           <tr>
                              <td>Alemanha</td>
                              <td>29</td>
                           </tr>
                           <tr>
                              <td>Qualquer Outro (Fora)</td>
                              <td>13</td>
                           </tr>
                           <tr>
                              <td>França</td>
                              <td>27</td>
                           </tr>
                           <tr>
                              <td>Países Baixos</td>
                              <td>24</td>
                           </tr>
                           <tr>
                              <td>Brasil</td>
                              <td>24</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-6">
               <div class="card">
                  <div class="card-header">Artilheiros - Geral</div>
                  <div class="card-body table-responsive">
                     <table class="table table-bordered table-striped table-hover">
                        <tbody>
                           <tr>
                              <th>Marcador</th>
                              <th>Gols</th>
                           </tr>
                        </tbody>
                        <tbody id="overall-teams">
                           <tr>
                              <td>Qualquer Outro (Casa)</td>
                              <td>16</td>
                           </tr>
                           <tr>
                              <td>Toto (Portugal - Centro-avante)</td>
                              <td>11</td>
                           </tr>
                           <tr>
                              <td>Robert (Bélgica - Centro-avante)</td>
                              <td>17</td>
                           </tr>
                           <tr>
                              <td>Saunders (Inglaterra - Ponta Direita)</td>
                              <td>3</td>
                           </tr>
                           <tr>
                              <td>Lupo (Uruguai - Meia Atacante)</td>
                              <td>2</td>
                           </tr>
                           <tr>
                              <td>Salado (Portugal - Ponta Esquerda)</td>
                              <td>6</td>
                           </tr>
                           <tr>
                              <td>Kite (Inglaterra - Centro-avante)</td>
                              <td>16</td>
                           </tr>
                           <tr>
                              <td>Sem Marcador</td>
                              <td>31</td>
                           </tr>
                           <tr>
                              <td>Zappa (Uruguai - Centro-avante)</td>
                              <td>13</td>
                           </tr>
                           <tr>
                              <td>Petrovic (Croácia - Centro-avante)</td>
                              <td>9</td>
                           </tr>
                           <tr>
                              <td>Ortiz (Argentina - Meia Atacante)</td>
                              <td>10</td>
                           </tr>
                           <tr>
                              <td>Batista (Espanha - Ponta Esquerda)</td>
                              <td>7</td>
                           </tr>
                           <tr>
                              <td>Bloom (Suíça - Centro-avante)</td>
                              <td>12</td>
                           </tr>
                           <tr>
                              <td>Anderson (Dinamarca - Ponta Esquerda)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Rushton (Inglaterra - Ponta Esquerda)</td>
                              <td>6</td>
                           </tr>
                           <tr>
                              <td>Bravo (Portugal - Ponta Direita)</td>
                              <td>6</td>
                           </tr>
                           <tr>
                              <td>Pinheiro (Espanha - Ponta Direita)</td>
                              <td>6</td>
                           </tr>
                           <tr>
                              <td>Denis (Bélgica - Ponta Esquerda)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Romero (México - Centro-avante)</td>
                              <td>6</td>
                           </tr>
                           <tr>
                              <td>Moretti (Itália - Centro-avante)</td>
                              <td>16</td>
                           </tr>
                           <tr>
                              <td>Soji (Croácia - Ponta Esquerda)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Hoffman (Suíça - Ponta Direita)</td>
                              <td>5</td>
                           </tr>
                           <tr>
                              <td>Alex (Colômbia - Meia Atacante)</td>
                              <td>1</td>
                           </tr>
                           <tr>
                              <td>Frey (Suíça - Meia Atacante)</td>
                              <td>7</td>
                           </tr>
                           <tr>
                              <td>Mandic (Croácia - Meia Atacante)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Marquez (Argentina - Ponta Esquerda)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Santini (Itália - Meia Atacante)</td>
                              <td>3</td>
                           </tr>
                           <tr>
                              <td>Rossi (Argentina - Centro-avante)</td>
                              <td>7</td>
                           </tr>
                           <tr>
                              <td>Salas (Uruguai - Ponta Direita)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Oscar (México - Ponta Direita)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Fischer (Alemanha - Centro-avante)</td>
                              <td>14</td>
                           </tr>
                           <tr>
                              <td>Qualquer Outro (Fora)</td>
                              <td>13</td>
                           </tr>
                           <tr>
                              <td>Jacobsen (Dinamarca - Meia Atacante)</td>
                              <td>2</td>
                           </tr>
                           <tr>
                              <td>Ortega (Argentina - Ponta Direita)</td>
                              <td>6</td>
                           </tr>
                           <tr>
                              <td>Marshall (França - Centro-avante)</td>
                              <td>11</td>
                           </tr>
                           <tr>
                              <td>Fabio (Colômbia - Centro-avante)</td>
                              <td>12</td>
                           </tr>
                           <tr>
                              <td>Schwarz (Suíça - Ponta Esquerda)</td>
                              <td>5</td>
                           </tr>
                           <tr>
                              <td>Morel (Itália - Ponta Direita)</td>
                              <td>5</td>
                           </tr>
                           <tr>
                              <td>Visser (Países Baixos - Ponta Esquerda)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Carlito (Espanha - Centro-avante)</td>
                              <td>10</td>
                           </tr>
                           <tr>
                              <td>Eriksen (Dinamarca - Centro-avante)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Masson (França - Meia Atacante)</td>
                              <td>6</td>
                           </tr>
                           <tr>
                              <td>Bakker (Países Baixos - Centro-avante)</td>
                              <td>10</td>
                           </tr>
                           <tr>
                              <td>Gomez (Brasil - Ponta Esquerda)</td>
                              <td>3</td>
                           </tr>
                           <tr>
                              <td>Mulder (Países Baixos - Ponta Direita)</td>
                              <td>8</td>
                           </tr>
                           <tr>
                              <td>Ayala (Colômbia - Ponta Esquerda)</td>
                              <td>3</td>
                           </tr>
                           <tr>
                              <td>Klein (Alemanha - Ponta Direita)</td>
                              <td>7</td>
                           </tr>
                           <tr>
                              <td>Zito (Brasil - Centro-avante)</td>
                              <td>12</td>
                           </tr>
                           <tr>
                              <td>Becker (Alemanha - Meia Atacante)</td>
                              <td>5</td>
                           </tr>
                           <tr>
                              <td>Novak (Croácia - Ponta Direita)</td>
                              <td>9</td>
                           </tr>
                           <tr>
                              <td>Jennings (Inglaterra - Meia Atacante)</td>
                              <td>3</td>
                           </tr>
                           <tr>
                              <td>Andre (França - Ponta Direita)</td>
                              <td>8</td>
                           </tr>
                           <tr>
                              <td>Vega (Brasil - Ponta Direita)</td>
                              <td>7</td>
                           </tr>
                           <tr>
                              <td>Bruno (Bélgica - Meia Atacante)</td>
                              <td>2</td>
                           </tr>
                           <tr>
                              <td>Nacho (México - Ponta Esquerda)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Fender (Portugal - Meia Atacante)</td>
                              <td>3</td>
                           </tr>
                           <tr>
                              <td>Rafael (Brasil - Meia Atacante)</td>
                              <td>2</td>
                           </tr>
                           <tr>
                              <td>Luna (Espanha - Meia Atacante)</td>
                              <td>2</td>
                           </tr>
                           <tr>
                              <td>Calvo (Colômbia - Ponta Direita)</td>
                              <td>2</td>
                           </tr>
                           <tr>
                              <td>Mendoza (México - Meia Atacante)</td>
                              <td>1</td>
                           </tr>
                           <tr>
                              <td>Nils (Dinamarca - Ponta Direita)</td>
                              <td>7</td>
                           </tr>
                           <tr>
                              <td>Hoff (Alemanha - Ponta Esquerda)</td>
                              <td>3</td>
                           </tr>
                           <tr>
                              <td>Fabian (Bélgica - Ponta Direita)</td>
                              <td>2</td>
                           </tr>
                           <tr>
                              <td>Kiko (Uruguai - Ponta Esquerda)</td>
                              <td>5</td>
                           </tr>
                           <tr>
                              <td>Bianchi (Itália - Ponta Esquerda)</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Boer (Países Baixos - Meia Atacante)</td>
                              <td>2</td>
                           </tr>
                           <tr>
                              <td>Baptista (França - Ponta Esquerda)</td>
                              <td>2</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>