<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom mb-4">
  <a class="plain-a" href="home?bookie=betano&season=world">
     <mat-icon class="nav-link-icon">home</mat-icon>
  </a>
  <a class="plain-a" href="home?bookie=bet365&season=euro"><img class="uhover " src="../../assets/icons/euro.svg" width="48"></a>
  <a class="plain-a" href="home?bookie=bet365&season=world"><img class="uhover uselected" src="../../assets/icons/copa.svg" width="48"></a>
  <a class="plain-a" href="home?bookie=bet365&season=premier"><img class="uhover " src="../../assets/icons/premier.svg" width="48"></a>
  <a class="plain-a" href="home?bookie=bet365&season=super"><img class="uhover " src="../../assets/icons/super.svg" width="48"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav">
        <li class="nav-item">
           <a class="nav-link nav-link-custom" href="home?bookie=betano&season=bet365">
              <mat-icon >home</mat-icon>
              Início
           </a>
        </li>
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="overview?bookie=bet365&season=world">
              <mat-icon>fast_rewind</mat-icon>
              Últ. Jogos
           </a>
        </li>
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="nextgames?bookie=bet365&season=world">
              <mat-icon>fast_forward</mat-icon>
              Próx. Jogos
           </a>
        </li>
        <li class="nav-item dropdown ">
           <a class="nav-link nav-link-custom dropdown-toggle nav-item-active" id="navbarDropdown" data-toggle="dropdown">
              <mat-icon>calendar_today</mat-icon>
              Hoje
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
              <a class="dropdown-item dropdown-item-custom" href="today?bookie=bet365&season=world">Jogos</a>
              <a class="dropdown-item dropdown-item-custom" href="goalscorers?bookie=bet365&season=world">Artilheiros</a>
              <a class="dropdown-item dropdown-item-custom" href="calculator?bookie=bet365&season=world">Calculadora</a>
              <a class="dropdown-item dropdown-item-custom" href="rankings?bookie=bet365&season=world">Rankings</a>
           </div>
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
              <mat-icon>history</mat-icon>
              Hist.
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
              <a class="dropdown-item dropdown-item-custom" href="history?bookie=bet365&season=world">Máximas</a>
              <a class="dropdown-item dropdown-item-custom" href="odds?bookie=bet365&season=world">Odds</a>
           </div>
        </li>
        <!--<li class="nav-item ">
           <a class="nav-link nav-link-custom sentinela" href="sentinela/world/bet365/"> <i class="nav-link-icon fa fa-robot"></i>Sentinela</a>
           </li>-->
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="hourly?bookie=bet365&season=world">
              <mat-icon>access_time</mat-icon>
              Horários
           </a>
        </li>
        <!--<li class="nav-item dropdown ">
           <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" href="https://www.mentorwesleyandrade.com.br/home/world/bet365#">
           <i class="nav-link-icon fa fa-robot "></i> Sinais
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/1">Over 1.5</a>
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/3">Over 2.5</a>
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/2">Vencedor do Jogo</a>
           <a class="dropdown-item dropdown-item-custom" href="https://www.mentorwesleyandrade.com.br/tips/world/bet365/4">Ambas Marcam</a>
           </div>
           </li>-->
        <li class="nav-item ">
           <a class="nav-link nav-link-custom" href="sim?bookie=bet365&season=world">
              <mat-icon>gps_fixed</mat-icon>
              Simulador
           </a>
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link nav-link-custom dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" >
              <mat-icon>perm_identity</mat-icon>
              Conta
           </a>
           <div class="dropdown-menu dropdown-menu-custom">
              <a class="dropdown-item dropdown-item-custom" href="telegram/world/">
                 <mat-icon>send</mat-icon>
                 Telegram
              </a>
              <a class="dropdown-item dropdown-item-custom" href="renewal/world/">
                 <mat-icon> money</mat-icon>
                 Renovação
              </a>
              <a class="dropdown-item dropdown-item-custom" href="change/world/">
                 <mat-icon> vpn_key</mat-icon>
                 Trocar Senha
              </a>
              <a class="dropdown-item dropdown-item-custom">
                 <mat-icon> attach_money</mat-icon>
                 Venc. 25/05/2022
              </a>
              <a class="dropdown-item dropdown-item-custom" href="logout">
                 <mat-icon>exit_to_app</mat-icon>
                 Logout
              </a>
           </div>
        </li>
     </ul>
  </div>
</nav>
<div class="modal fade" id="paymentReminder" tabindex="-1">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title">O seu acesso expira em 12 dias e 21h. <br> Para renovar, acesse: <a href="https://www.mentorwesleyandrade.com.br/renewal/world/">Renovação</a></h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
           </button>
        </div>
     </div>
  </div>
</div>
<style>
  #float-fa-parent {
  color:#3f6ad8;
  opacity:0.8;
  }
  #float-fa-parent:hover {
  opacity:1;
  }
  #float-fa-parent:hover #float-fa {
  opacity:1;
  }
  #float-fa {
  position: absolute;
  left: 36px;
  width: 25px;
  font-size: 0.9rem;
  color: #3f6ad8;
  top: 36px;
  }
  .sentinela {
  color:rgb(0, 247, 0) !important;
  font-weight:600 !important;
  }
</style>
<button onclick="window.location.reload(false);" class="util-button" id="reloadButton" title="Reload!">
  <mat-icon>sync</mat-icon>
</button>
<button onclick="scrollTsso()" data-dir="0" class="util-button" id="backToTop" title="Scroll!">
  <mat-icon>arrow_upward</mat-icon>
</button>
<div class="app-main__outer">
   <div class="app-main__inner">
      <div class="container-fluid">
         <div class="row">
            <div class="col-12 mb-4">
               <div class="card">
                  <div class="card-header">Raking dos Mercados - Últimas 24h</div>
                  <div class="card-body table-responsive justify-content-center">
                     <div id="team-ranks-daily">
                        <div class="card">
                           <div class="card-header" id="heading0team-ranks-daily"><b>Over 2.5</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse0team-ranks-daily">1º. Espanha, 2º. Suíça, 3º. Alemanha</button></div>
                           <div id="collapse0team-ranks-daily" class="collapse" data-parent="#team-ranks-daily">
                              <div class="card-body">1º. Espanha (35)<br>2º. Suíça (31)<br>3º. Alemanha (30)<br>4º. França (29)<br>5º. Colômbia (28)<br>6º. Itália (27)<br>7º. Dinamarca (27)<br>8º. Países Baixos (26)<br>9º. Inglaterra (25)<br>10º. Croácia (24)<br>11º. Uruguai (23)<br>12º. Argentina (23)<br>13º. Portugal (22)<br>14º. Bélgica (22)<br>15º. Brasil (22)<br>16º. México (20)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading1team-ranks-daily"><b>5+ Gols</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse1team-ranks-daily">1º. Dinamarca, 2º. Suíça, 3º. Itália</button></div>
                           <div id="collapse1team-ranks-daily" class="collapse" data-parent="#team-ranks-daily">
                              <div class="card-body">1º. Dinamarca (9)<br>2º. Suíça (7)<br>3º. Itália (7)<br>4º. Espanha (7)<br>5º. Colômbia (7)<br>6º. Bélgica (7)<br>7º. Portugal (6)<br>8º. México (6)<br>9º. Inglaterra (6)<br>10º. França (6)<br>11º. Uruguai (5)<br>12º. Países Baixos (5)<br>13º. Brasil (5)<br>14º. Argentina (5)<br>15º. Alemanha (5)<br>16º. Croácia (3)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading2team-ranks-daily"><b>Ambas Marcam</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse2team-ranks-daily">1º. Alemanha, 2º. Dinamarca, 3º. Suíça</button></div>
                           <div id="collapse2team-ranks-daily" class="collapse" data-parent="#team-ranks-daily">
                              <div class="card-body">1º. Alemanha (36)<br>2º. Dinamarca (33)<br>3º. Suíça (32)<br>4º. Uruguai (31)<br>5º. México (31)<br>6º. Espanha (30)<br>7º. Países Baixos (29)<br>8º. Croácia (29)<br>9º. Portugal (28)<br>10º. França (28)<br>11º. Argentina (28)<br>12º. Inglaterra (27)<br>13º. Brasil (27)<br>14º. Itália (25)<br>15º. Bélgica (25)<br>16º. Colômbia (23)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading3team-ranks-daily"><b>Mais fazem 4x0</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse3team-ranks-daily">1º. Espanha, 2º. México, 3º. França</button></div>
                           <div id="collapse3team-ranks-daily" class="collapse" data-parent="#team-ranks-daily">
                              <div class="card-body">1º. Espanha (4)<br>2º. México (1)<br>3º. França (1)<br>4º. Colômbia (1)<br>5º. Argentina (1)<br>6º. Uruguai (0)<br>7º. Suíça (0)<br>8º. Portugal (0)<br>9º. Países Baixos (0)<br>10º. Itália (0)<br>11º. Inglaterra (0)<br>12º. Dinamarca (0)<br>13º. Croácia (0)<br>14º. Bélgica (0)<br>15º. Brasil (0)<br>16º. Alemanha (0)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading4team-ranks-daily"><b>Mais tomam 0x4</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse4team-ranks-daily">1º. Portugal, 2º. Colômbia, 3º. Alemanha</button></div>
                           <div id="collapse4team-ranks-daily" class="collapse" data-parent="#team-ranks-daily">
                              <div class="card-body">1º. Portugal (1)<br>2º. Colômbia (1)<br>3º. Alemanha (1)<br>4º. Uruguai (0)<br>5º. Suíça (0)<br>6º. Países Baixos (0)<br>7º. México (0)<br>8º. Itália (0)<br>9º. Inglaterra (0)<br>10º. França (0)<br>11º. Espanha (0)<br>12º. Dinamarca (0)<br>13º. Croácia (0)<br>14º. Bélgica (0)<br>15º. Brasil (0)<br>16º. Argentina (0)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading5team-ranks-daily"><b>Time da CASA marca</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse5team-ranks-daily">1º. México, 2º. Argentina, 3º. Suíça</button></div>
                           <div id="collapse5team-ranks-daily" class="collapse" data-parent="#team-ranks-daily">
                              <div class="card-body">1º. México (32)<br>2º. Argentina (32)<br>3º. Suíça (31)<br>4º. Portugal (31)<br>5º. Croácia (31)<br>6º. Alemanha (31)<br>7º. Espanha (30)<br>8º. Inglaterra (28)<br>9º. Uruguai (27)<br>10º. Países Baixos (27)<br>11º. Brasil (25)<br>12º. França (24)<br>13º. Dinamarca (24)<br>14º. Bélgica (22)<br>15º. Colômbia (21)<br>16º. Itália (19)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading6team-ranks-daily"><b>Time de FORA marca</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse6team-ranks-daily">1º. Alemanha, 2º. Países Baixos, 3º. Inglaterra</button></div>
                           <div id="collapse6team-ranks-daily" class="collapse" data-parent="#team-ranks-daily">
                              <div class="card-body">1º. Alemanha (33)<br>2º. Países Baixos (29)<br>3º. Inglaterra (29)<br>4º. França (29)<br>5º. Bélgica (29)<br>6º. Suíça (28)<br>7º. Portugal (28)<br>8º. México (28)<br>9º. Croácia (28)<br>10º. Argentina (28)<br>11º. Uruguai (27)<br>12º. Espanha (26)<br>13º. Brasil (25)<br>14º. Dinamarca (24)<br>15º. Itália (20)<br>16º. Colômbia (18)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading7team-ranks-daily"><b>Empate (1x1, 2x2)</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse7team-ranks-daily">1º. Alemanha, 2º. México, 3º. Croácia</button></div>
                           <div id="collapse7team-ranks-daily" class="collapse" data-parent="#team-ranks-daily">
                              <div class="card-body">1º. Alemanha (17)<br>2º. México (16)<br>3º. Croácia (15)<br>4º. Argentina (15)<br>5º. Dinamarca (14)<br>6º. Brasil (14)<br>7º. Uruguai (13)<br>8º. Países Baixos (13)<br>9º. Suíça (12)<br>10º. Portugal (10)<br>11º. Inglaterra (9)<br>12º. Bélgica (9)<br>13º. França (7)<br>14º. Espanha (7)<br>15º. Colômbia (6)<br>16º. Itália (5)</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 mb-2">
               <div class="card">
                  <div class="card-header">Raking dos Mercados - Últimos 7 dias</div>
                  <div class="card-body table-responsive justify-content-center">
                     <div id="team-ranks-weekly">
                        <div class="card">
                           <div class="card-header" id="heading0team-ranks-weekly"><b>Over 2.5</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse0team-ranks-weekly">1º. Suíça, 2º. França, 3º. Bélgica</button></div>
                           <div id="collapse0team-ranks-weekly" class="collapse" data-parent="#team-ranks-weekly">
                              <div class="card-body">1º. Suíça (197)<br>2º. França (196)<br>3º. Bélgica (187)<br>4º. Dinamarca (186)<br>5º. Países Baixos (181)<br>6º. Brasil (180)<br>7º. Portugal (179)<br>8º. Itália (179)<br>9º. Espanha (176)<br>10º. Inglaterra (174)<br>11º. Alemanha (170)<br>12º. Croácia (167)<br>13º. Colômbia (163)<br>14º. México (152)<br>15º. Argentina (149)<br>16º. Uruguai (140)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading1team-ranks-weekly"><b>5+ Gols</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse1team-ranks-weekly">1º. Suíça, 2º. Países Baixos, 3º. Brasil</button></div>
                           <div id="collapse1team-ranks-weekly" class="collapse" data-parent="#team-ranks-weekly">
                              <div class="card-body">1º. Suíça (47)<br>2º. Países Baixos (45)<br>3º. Brasil (45)<br>4º. Dinamarca (44)<br>5º. Itália (43)<br>6º. Bélgica (43)<br>7º. Portugal (42)<br>8º. Inglaterra (42)<br>9º. Colômbia (41)<br>10º. Croácia (39)<br>11º. México (38)<br>12º. Alemanha (38)<br>13º. França (34)<br>14º. Espanha (33)<br>15º. Uruguai (30)<br>16º. Argentina (28)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading2team-ranks-weekly"><b>Ambas Marcam</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse2team-ranks-weekly">1º. Bélgica, 2º. Portugal, 3º. Suíça</button></div>
                           <div id="collapse2team-ranks-weekly" class="collapse" data-parent="#team-ranks-weekly">
                              <div class="card-body">1º. Bélgica (225)<br>2º. Portugal (223)<br>3º. Suíça (219)<br>4º. França (215)<br>5º. Países Baixos (212)<br>6º. Dinamarca (212)<br>7º. Alemanha (212)<br>8º. Brasil (211)<br>9º. Itália (210)<br>10º. Croácia (204)<br>11º. Espanha (203)<br>12º. Inglaterra (192)<br>13º. México (189)<br>14º. Argentina (189)<br>15º. Colômbia (186)<br>16º. Uruguai (180)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading3team-ranks-weekly"><b>Mais fazem 4x0</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse3team-ranks-weekly">1º. Espanha, 2º. França, 3º. Itália</button></div>
                           <div id="collapse3team-ranks-weekly" class="collapse" data-parent="#team-ranks-weekly">
                              <div class="card-body">1º. Espanha (6)<br>2º. França (4)<br>3º. Itália (3)<br>4º. Dinamarca (3)<br>5º. Colômbia (3)<br>6º. Suíça (2)<br>7º. México (2)<br>8º. Bélgica (2)<br>9º. Alemanha (2)<br>10º. Portugal (1)<br>11º. Croácia (1)<br>12º. Brasil (1)<br>13º. Argentina (1)<br>14º. Uruguai (0)<br>15º. Países Baixos (0)<br>16º. Inglaterra (0)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading4team-ranks-weekly"><b>Mais tomam 0x4</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse4team-ranks-weekly">1º. México, 2º. Suíça, 3º. Portugal</button></div>
                           <div id="collapse4team-ranks-weekly" class="collapse" data-parent="#team-ranks-weekly">
                              <div class="card-body">1º. México (5)<br>2º. Suíça (4)<br>3º. Portugal (2)<br>4º. Colômbia (2)<br>5º. Alemanha (2)<br>6º. Uruguai (1)<br>7º. Bélgica (1)<br>8º. Países Baixos (0)<br>9º. Itália (0)<br>10º. Inglaterra (0)<br>11º. França (0)<br>12º. Espanha (0)<br>13º. Dinamarca (0)<br>14º. Croácia (0)<br>15º. Brasil (0)<br>16º. Argentina (0)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading5team-ranks-weekly"><b>Time da CASA marca</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse5team-ranks-weekly">1º. Brasil, 2º. Bélgica, 3º. França</button></div>
                           <div id="collapse5team-ranks-weekly" class="collapse" data-parent="#team-ranks-weekly">
                              <div class="card-body">1º. Brasil (212)<br>2º. Bélgica (207)<br>3º. França (206)<br>4º. Espanha (204)<br>5º. Países Baixos (203)<br>6º. Alemanha (198)<br>7º. Argentina (195)<br>8º. Suíça (183)<br>9º. Croácia (183)<br>10º. Portugal (181)<br>11º. Inglaterra (178)<br>12º. Itália (177)<br>13º. Dinamarca (176)<br>14º. Colômbia (173)<br>15º. Uruguai (172)<br>16º. México (168)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading6team-ranks-weekly"><b>Time de FORA marca</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse6team-ranks-weekly">1º. Bélgica, 2º. França, 3º. Brasil</button></div>
                           <div id="collapse6team-ranks-weekly" class="collapse" data-parent="#team-ranks-weekly">
                              <div class="card-body">1º. Bélgica (215)<br>2º. França (209)<br>3º. Brasil (209)<br>4º. Países Baixos (198)<br>5º. Espanha (197)<br>6º. Portugal (193)<br>7º. Alemanha (191)<br>8º. Argentina (190)<br>9º. Croácia (184)<br>10º. Suíça (177)<br>11º. Dinamarca (177)<br>12º. Inglaterra (176)<br>13º. Itália (175)<br>14º. Uruguai (171)<br>15º. México (169)<br>16º. Colômbia (159)</div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header" id="heading7team-ranks-weekly"><b>Empate (1x1, 2x2)</b><button class="btn btn-link" data-toggle="collapse" data-target="#collapse7team-ranks-weekly">1º. Portugal, 2º. Bélgica, 3º. Brasil</button></div>
                           <div id="collapse7team-ranks-weekly" class="collapse" data-parent="#team-ranks-weekly">
                              <div class="card-body">1º. Portugal (91)<br>2º. Bélgica (87)<br>3º. Brasil (87)<br>4º. Alemanha (87)<br>5º. Países Baixos (85)<br>6º. Croácia (82)<br>7º. México (79)<br>8º. Itália (79)<br>9º. Dinamarca (79)<br>10º. Uruguai (77)<br>11º. Argentina (76)<br>12º. Suíça (75)<br>13º. França (75)<br>14º. Espanha (75)<br>15º. Colômbia (67)<br>16º. Inglaterra (65)</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>